@charset "UTF-8";

#wrap{overflow-x: hidden;}
#main{position: relative; display: flex; align-items: center; padding: var(--spacing-lm) var(--spacing-ms);}

@media (max-width: 1280px){

  #main{position: static; display: block;}

}

@media (max-width: 576px) {

  #main{padding: var(--spacing-m) 0;}
  
}

#applicationWrap{position: relative; max-width: 952px; margin: 0 auto; padding: var(--spacing-lm) var(--spacing-l); background-color: var(--white); border-radius: var(--radius-l); }
#applicationWrap::before{content: ''; width: 144px; height: 211px; position: absolute; left: -105px; bottom: 52px; background: url(../images/main/illustration01.png) no-repeat center / contain; z-index: -1; transform: rotate(-30deg);}
#applicationWrap::after{content: ''; width: 125px; height: 182px; position: absolute; right:-83px; bottom: 51px; background: url(../images/main/illustration02.png)no-repeat center / contain; z-index: -1; transform: rotate(30deg);}
#applicationWrap .applicationNoticeTopBox{display: flex; justify-content: space-between; width: 100%; margin-bottom: var(--spacing-lm);}
#applicationWrap .applicationNoticeBox{position: relative; padding-left: var(--spacing-lm); display: flex; align-items: center; gap: 0 var(--spacing-xs);}
#applicationWrap .applicationNoticeBox::before{content: ''; width: 32px; height: 32px; position: absolute; top:1px; left:0; background: url(../images/main/notice_icon.svg)no-repeat center;}
#applicationWrap .applicationNoticeBox .applicationDate{display: flex; align-items: center; justify-content: center; padding: var(--spacing-2xs) var(--spacing-xs); color: var(--primary-700); font-weight: var(--semi-bold); background-color: var(--primary-50); border-radius: var(--radius-xs);}
#applicationWrap .applicationNoticeBox .applicationDesc{color: var(--gray-600); font-weight: var(--semi-bold); font-size: var(--H6);}
#applicationWrap .applicationNoticeTopBox .applicationState{ min-width: 116px; min-height: 36px; padding: var(--spacing-xs) var(--spacing-xs) var(--spacing-xs) var(--spacing-xs); display:flex; align-items: center; gap: 0 var(--spacing-xs); border-radius: var(--radius-s); font-size: var(--font-size-s); font-weight: var(--bold); color: var(--white); background: linear-gradient(90deg, #252536 0%, #263D56 50%, #252536 100%); box-shadow: 0 10px 40px rgba(57, 142, 241, 0.22);}
#applicationWrap .applicationNoticeTopBox .applicationState::before{content: ''; width:20px; height: 20px; background: url(../images/main/clock_icon.svg)no-repeat center;}
#applicationWrap .applicationVideoBox{margin-bottom: var(--spacing-lm); display: flex; align-items: center; justify-content: center; gap: 0 var(--spacing-ms);}
#applicationWrap .applicationVideoBox .applicationVideo{position: relative; width: 404px; height: 513px; border-radius: var(--radius-l); overflow: hidden; background-color: var(--guide-50); border: 2px solid transparent; transition: all .3s;}
#applicationWrap .applicationVideoBox .applicationVideo:nth-child(1) .applicationVideoNumber .applicationVideoNum em{transform: translate(-62%, -45%);}
#applicationWrap .applicationVideoBox .applicationVideo video{display: block; margin: 0 auto; max-width: 100%;}
#applicationWrap .applicationVideoBox .applicationVideoInfoBox{padding: 0 var(--spacing-ml) var(--spacing-ml); position: absolute; top:0; left:0; right:0; bottom: 0; 
  
background: linear-gradient(
  to bottom,
  rgba(66, 153, 251, 0) 0%,
  rgba(66, 153, 251, 0.03) 40%,
  rgba(66, 153, 251, 0.12) 58%,
  rgba(45, 111, 184, 0.55) 74%,
  rgba(18, 55, 96, 0.95) 90%,
  #091E36 100%
);

}
#applicationWrap .applicationVideoBox .applicationVideoInfo {height: 100%; display: flex;
  align-items: flex-end; gap: var(--spacing-s); font-family: 'KIMM';}

  

/* #applicationWrap .applicationVideoBox .applicationVideoInfoBox::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(236, 240, 243, 0.82) 0%,
    rgba(210, 226, 240, 0.78) 18%,
    rgba(132, 177, 215, 0.72) 34%,
    rgba(42, 83, 122, 0.82) 44%,
    rgba(9, 30, 54, 1) 50%,
    rgba(9, 30, 54, 0.96) 58%,
    rgba(43, 87, 126, 0.78) 70%,
    rgba(139, 177, 211, 0.76) 86%,
    rgba(196, 219, 239, 0.84) 100%
  );
  opacity: 0;
  transition: all .3s;
  z-index: 0;
} */
/* 

#applicationWrap .applicationVideoBox .applicationVideo:hover .applicationVideoInfoBox::before {
  opacity: 1;
}
 */


#applicationWrap .applicationVideoBox .applicationVideo:hover{border-color: var(--primary-500);}






#applicationWrap .applicationVideoBox .applicationVideoNumber{display: flex; align-items: center; flex-direction: column; gap: var(--spacing-xs) 0;}
#applicationWrap .applicationVideoBox .applicationVideoNumber .applicationVideoMethod{font-weight: var(--bold); color: var(--white);} 
#applicationWrap .applicationVideoBox .applicationVideoNumber .applicationVideoNum{position: relative; width: 48px; height: 48px; border-radius: var(--radius-l); background-color: var(--primary-500); color: var(--white); font-style: normal; font-size: var(--H4);}
#applicationWrap .applicationVideoBox .applicationVideoNumber .applicationVideoNum em{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-style: normal;}
#applicationWrap .applicationVideoBox .applicationVideoInfoBox h3{color: var(--white); font-size: var(--H1); font-weight: var(--bold);}
#applicationWrap .applicationPhoneBox{display: flex; align-items: center; justify-content: center; gap: 0 var(--spacing-2xl);}
#applicationWrap .applicationPhoneText span{margin-bottom: var(--spacing-xs); display: flex; align-items: center; gap: 0 var(--spacing-2xs); color: var(--gray-600); font-weight: var(--bold); font-size: var(--font-size-s);} 
#applicationWrap .applicationPhoneText span em{font-weight: var(--bold); font-size: var(--font-size-s); color: var(--secondary-500); font-style: normal;}
#applicationWrap .applicationPhoneText p{color: var(--gray-600); font-weight: var(--bold); font-size: var(--font-size-xxxl);}
#applicationWrap .applicationPhone{position: relative; padding-left: var(--spacing-3xl);}
#applicationWrap .applicationPhone::before{content: ''; position: absolute; top:0; left:0; width: 64px; height: 64px; background: url(../images/main/phone_icon.svg)no-repeat center;}
#applicationWrap .applicationPhone .applicationPhoneNumber{display: block; margin-bottom: var(--spacing-xs); color: #3A414B; font-weight: var(--bold); font-size: var(--H6);}
#applicationWrap .applicationPhone .applicationLink{min-width: 112px; height: 24px; line-height: 24px; display: flex; align-items: center; justify-content: space-between; gap: 0 var(--spacing-2xs); padding: 0 0 0 var(--spacing-xs); color: var(--gray-600); font-weight: var(--medium); font-size: var(--font-size-s); border-radius: var(--radius-xs); border: 1px solid var(--gray-100);}
#applicationWrap .applicationPhone .applicationLink::after{content: ''; width: 24px; height: 24px; background: url(../images/main/arrow_icon01.svg)no-repeat center; transform: rotate(-90deg);}

@media (max-width: 1440px){

  #applicationWrap{max-width: 908px; padding: var(--spacing-lm);} 
  #applicationWrap::before{width: 108px; height: 159px; left: -80px; bottom: 80px;}
  #applicationWrap::after{width: 94px; height: 137px; right: -66px; bottom: 60px;}

}

@media (max-width: 1280px){

 #applicationWrap{margin-bottom: var(--spacing-lm); max-width: 756px;}
 #applicationWrap .applicationVideoBox .applicationVideo{height: 481px;}
 #applicationWrap .applicationVideoBox .applicationVideoNumber .applicationVideoNum{width: 36px; height: 36px; font-size:
   var(--font-size-xxxl);}
 #applicationWrap .applicationVideoBox .applicationVideoInfoBox h3{font-size: var(--H3);}

 #applicationWrap::before{left: -65px; bottom: 47px;}
 #applicationWrap::after{right: -62px; bottom: 45px;}

}

@media (max-width: 1024px){

  #applicationWrap{max-width: none;}
  #applicationWrap .applicationVideoBox .applicationVideo{width: 100%;}

  #applicationWrap::before,
  #applicationWrap::after{display: none;}


}

@media (max-width: 768px){

  #applicationWrap{padding: var(--spacing-lm) var(--spacing-m);}
  #applicationWrap .applicationNoticeTopBox{flex-direction: column-reverse; align-items: flex-start; gap:var(--spacing-ms) 0; }
  #applicationWrap .applicationNoticeBox .applicationDesc{font-size: var(--Subtitle-1);}

  #applicationWrap .applicationPhoneBox{flex-direction: column; gap: var(--spacing-m) 0;}
  #applicationWrap .applicationPhoneText span{justify-content: center;}

  #applicationWrap .applicationVideoBox .applicationVideoInfoBox{padding: 0 var(--spacing-s) var(--spacing-ml);}
  #applicationWrap .applicationVideoBox .applicationVideo{height: 320px;}
  #applicationWrap .applicationVideoBox .applicationVideoInfo{flex-direction: column; justify-content: flex-end; align-items: flex-start; gap: var(--spacing-s) 0;}

}

@media (max-width: 576px){

  #applicationWrap{padding: var(--spacing-ml) var(--spacing-m);}
  #applicationWrap .applicationNoticeBox{flex-direction: column-reverse; align-items: flex-start; gap: var(--spacing-2xs) 0;}
  #applicationWrap .applicationNoticeBox .applicationDate{font-size: var(--font-size-s);}
  #applicationWrap .applicationNoticeBox::before{top: 7px;}
  
  #applicationWrap .applicationVideoBox{gap: 0 var(--spacing-xs);}
  #applicationWrap .applicationVideoBox .applicationVideoInfoBox h3{font-size: var(--H4);}
  
}

@media (max-width: 480px){

  #applicationWrap{margin-bottom: var(--spacing-m); padding: var(--spacing-ml) var(--spacing-s);}
  #applicationWrap .applicationNoticeBox .applicationDesc{font-size: var(--Subtitle-2);}

  #applicationWrap .applicationVideoBox{flex-direction: column; gap: var(--spacing-xs) 0;}
  #applicationWrap .applicationVideoBox .applicationVideo{height: 288px;}

}

/* 신청 질문 영역 */
#applicationQuestionWrap{position: absolute; top: 50%; transform: translateY(-50%); left:20px; display: flex; flex-direction: column; gap: var(--spacing-xs);}
#applicationQuestionWrap .applicationQuestionLink{display: flex; flex-direction: column; padding: var(--spacing-ms) var(--spacing-s); width: 136px; height: 136px; border-radius: var(--radius-l); color: var(--white); font-weight: var(--bold); font-size: var(--font-size-xl); transition: all .3s;}
#applicationQuestionWrap .applicationQuestionLink::after{content: ''; align-self: flex-end; width: 48px; height: 48px; transition: all .3s;}
#applicationQuestionWrap .applicationQuestionLink01:hover{background-color: var(--primary-700);}
#applicationQuestionWrap .applicationQuestionLink01{background-color: var(--primary-500);}
#applicationQuestionWrap .applicationQuestionLink01::after{background: url(../images/main/icon01.svg)no-repeat center / contain;}
#applicationQuestionWrap .applicationQuestionLink02:hover{background-color: var(--secondary-700);}
#applicationQuestionWrap .applicationQuestionLink02{background-color: var(--secondary-500);}
#applicationQuestionWrap .applicationQuestionLink02::after{background: url(../images/main/icon02.svg)no-repeat center / contain;}
#applicationQuestionWrap .applicationQuestionLink:hover::after{transform: rotate(20deg);}

@media (max-width: 1440px){

  #applicationQuestionWrap{left: 8px;}
  #applicationQuestionWrap .applicationQuestionLink{gap:var(--spacing-xs); width: 112px; height: 136px; font-size: var(--font-size-m);}

}

@media (max-width: 1280px){

  #applicationQuestionWrap{flex-direction: row; justify-content: center; position: static; transform: none;}
  #applicationQuestionWrap .applicationQuestionLink{padding: 0 0 0 var(--spacing-s); align-items: center; flex-direction: row; width: 173px; height: 88px; font-size: var(--font-size-xl);}
  #applicationQuestionWrap .applicationQuestionLink::after{align-self: auto;}

}

@media (max-width: 480px){

  #applicationQuestionWrap{padding: 0 var(--spacing-s);}
  #applicationQuestionWrap .applicationQuestionLink{padding: 0 var(--spacing-s); justify-content: center; flex-direction: column; align-items: flex-start; width: 100%; height: 142px;}

}

/* 신청 품목선택 영역 */
#applicationSelectWrap{position: absolute; top: 50%; transform: translateY(-50%); right:0;}
#applicationSelectWrap .applicationSelectBox{display: flex; flex-direction: column; align-items: flex-end; gap: var(--spacing-s); width: 93px;}
#applicationSelectWrap .applicationSelectBox .applicationSelectBtn{flex-shrink: 0; position: relative; padding: var(--spacing-m) var(--spacing-s) var(--spacing-m) var(--spacing-m); width: 88px; height: 152px; border: 1px solid var(--gray-600); background-color: var(--white); border-radius: var(--radius-l) 0 0 var(--radius-l); box-shadow: 0 10px 40px rgba(57, 142, 241, 0.22); text-align: center; color: var(--gray-600); border-width: 1px 0 1px 1px; transition: all .3s;}
#applicationSelectWrap .applicationSelectBox .applicationSelectBtn:hover{padding: var(--spacing-m) var(--spacing-m) var(--spacing-m) var(--spacing-m); border-color: var(--primary-500); color: var(--primary-500); width: 93px;}
#applicationSelectWrap .applicationSelectBox .applicationSelectBtn:hover .applicationSelectCount{left: 50%;}
#applicationSelectWrap .applicationSelectBox .applicationSelectCount{ display: inline-flex; align-items: center; justify-content: center; min-width: 42px; padding: var(--spacing-2xs) var(--spacing-xs); position: absolute; top:-14px; left: 55%; transform: translateX(-50%); font-weight: var(--bold); color: var(--white); border: 1px solid var(--gray-100); background-color: var(--primary-500); font-style: normal; border-radius: var(--radius-l); box-shadow: 0 4px 20px #A3CFF6;   flex-shrink: 0; word-break: keep-all; overflow-wrap: normal; transition: all .3s;}
#applicationSelectWrap .applicationSelectBox .applicationSelectBtn span{display: block; padding-top: var(--spacing-xl); position: relative; font-weight: var(--bold); font-size: var(--font-size-xl);}
#applicationSelectWrap .applicationSelectBox .applicationSelectBtn span::before{content: ''; position: absolute; top:0; left: 50%; transform: translateX(-50%); width: 48px; height: 48px;}
#applicationSelectWrap .applicationSelectBox .applicationSelectBtn:nth-child(1) span::before{background: url(../images/main/icon03.svg)no-repeat center / contain;}
#applicationSelectWrap .applicationSelectBox .applicationSelectBtn:nth-child(2) span::before{background: url(../images/main/icon04.svg)no-repeat center / contain;}
#applicationSelectWrap .applicationSelectBox .mobileBtn{display: none;}

@media (max-width: 1280px){
  
  #applicationSelectWrap .applicationSelectBox{width: 382px; padding: var(--spacing-m) var(--spacing-m) var(--spacing-s); gap: 0 var(--spacing-ml); justify-content: center; flex-direction: row; align-items: center;  background-color: var(--white); border: 1px solid var(--gray-600); border-width: 1px 1px 0 1px; border-radius: var(--radius-l) var(--radius-l) 0 0; z-index: 1;}
  #applicationSelectWrap{position: absolute; left:50%; transform: translateX(-50%); right:auto; bottom: -120px; top: auto;}
  #applicationSelectWrap::before{content: ''; position: absolute; top:-31px; left:-1000%; right: -1000%; bottom: 0; background-color: var(--guide-50); z-index: -1;}
  #applicationSelectWrap .applicationSelectBox .applicationSelectBtn{padding: 0; width: auto; height: auto; border: none; background: 0; box-shadow: none;}
  #applicationSelectWrap .applicationSelectBox .applicationSelectBtn span{display: flex; align-items: center; gap: 0 var(--spacing-xs); padding: 0; font-size: var(--Subtitle-1);}
  #applicationSelectWrap .applicationSelectBox .applicationSelectBtn span br{display: none;}
  #applicationSelectWrap .applicationSelectBox .applicationSelectBtn span::before{flex-shrink: 0; position: static; transform: none; width: 40px; height: 40px;}
  #applicationSelectWrap .applicationSelectBox .mobileBtn{display: block; flex-shrink: 0; width: 48px; height: 48px; display: flex; align-items: center; justify-content: center; border: 1px solid var(--gray-100); border-radius: var(--radius-s); background-color: var(--guide-900); color: var(--white); font-weight: var(--bold); font-size: var(--Subtitle-1);}
  #applicationSelectWrap .applicationSelectBox .applicationSelectCount{top: -41px; left:0; transform: none;}

}

@media (max-width: 576px){

  #applicationSelectWrap{bottom: -104px; left: 20px; right:20px; transform: none; }
  #applicationSelectWrap .applicationSelectBox{width: auto; padding: 12px var(--spacing-s); border-radius: var(--radius-m) var(--radius-m) 0 0;}
  #applicationSelectWrap .applicationSelectBox .applicationSelectCount{top: -30px;}

}

@media (max-width: 480px){
  
  #applicationSelectWrap .applicationSelectBox .mobileBtn,
  #applicationSelectWrap .applicationSelectBox .applicationSelectBtn span{font-size: var(--Subtitle-2);}
  #applicationSelectWrap .applicationSelectBox .applicationSelectBtn span{gap: 0;}
  #applicationSelectWrap{left:0; right:0; }
  #applicationSelectWrap .applicationSelectBox{border-width: 1px 0 0 0; gap: 0 var(--spacing-m);}

}

/* 모바일 메뉴 */
#mobileMenuWrap{display: none;}

@media(max-width: 1280px){

#mobileMenuWrap.active{bottom: 0;}
#mobileMenuWrap{display: flex; flex-direction: column; position: fixed; left:0; right:0; bottom: -1000px; z-index: 999; background-color: var(--white); transition: all .3s;}
#mobileMenuWrap .mobileMenuHeaderWrap{height: 64px; padding: 0 var(--spacing-s); display: flex; align-items: center; justify-content: space-between; background: linear-gradient(120deg, var(--guide-900) 0%, var(--guide-200) 50%, var(--guide-900) 100%);         background-size: 200% 100%;}
#mobileMenuWrap .mobileMenuHeaderWrap h2{font-size: var(--font-size-xxxl); font-weight: var(--bold); color: var(--white); font-family: 'KIMM';}
#mobileMenuWrap .mobileMenuHeaderWrap .mobileCloseBtn{width: 40px; height: 40px; background: url(../images/common/close_icon01.svg)no-repeat center / contain;}
#mobileMenuWrap .mobileMenuNav{flex: 1; padding: 32px 0 94px;}
#mobileMenuWrap .mobileMenuDepth li h2 .mobileMenuLink{display: block; padding: 12px 16px 12px 24px; color: var(--guide-800); font-weight: var(--semi-bold); font-size: var(--H6);}
#mobileMenuWrap .mobileMenuFooterWrap{padding: var(--spacing-s) var(--spacing-xs); background-color: var(--guide-50);}
#mobileMenuWrap .mobileMenuFooterBox{display: flex; flex-wrap: wrap; gap: var(--spacing-xs); }
#mobileMenuWrap .mobileMenuFooterBox .mobileMenuFooterLink{height: 25px; line-height: 25px; padding: 0 var(--spacing-xs); color: var(--guide-500); font-weight: var(--medium); font-size: var(--font-size-s); border-radius: var(--radius-xs); background-color: var(--white);}
#mobileMenuWrap .mobileMenuFooterBox .mobileMenuFooterLink.policy{border: 1px solid var(--guide-100); font-weight: var(--bold); color: var(--guide-700);}
#mobileMenuWrap .mobileApplicationSelectWrap{display: flex; padding: var(--spacing-ms) var(--spacing-s); gap: 0 var(--spacing-xs);}
#mobileMenuWrap .mobileApplicationSelectWrap .mobileApplicationSelect{flex: 1; height: 136px; border: 1px solid var(--guide-300); border-radius: var(--radius-m); background-color: var(--white); box-shadow: 0 10px 40px rgba(57, 142, 241, 0.22);}
#mobileMenuWrap .mobileApplicationSelectWrap .mobileApplicationSelect h3{ height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; gap: var(--spacing-xs) 0; color: var(--gray-900); font-size: var(--font-size-xl); font-weight: var(--bold);}
#mobileMenuWrap .mobileApplicationSelectWrap .mobileApplicationSelect h3::before{content: ''; width: 64px; height: 64px;}
#mobileMenuWrap .mobileApplicationSelectWrap .mobileApplicationSelect01 h3::before{background: url(../images/common/document_icon01.svg)no-repeat center / contain;}
#mobileMenuWrap .mobileApplicationSelectWrap .mobileApplicationSelect02 h3::before{background: url(../images/common/document_icon02.svg)no-repeat center / contain;}
#mobileMenuWrap .mobileMenuUserWrap{display: flex;  align-items: center; justify-content: space-between; padding: 12px var(--spacing-s);}
#mobileMenuWrap .mobileMenuUserWrap .mobileMenuUserBox{ flex-shrink: 0; display: flex; align-items: center; gap: 0 var(--spacing-xs);}
#mobileMenuWrap .mobileMenuUserWrap .mobileMenuUserImg{ flex-shrink: 0; width: 40px; height: 40px; border-radius: var(--radius-l); background-color: var(--guide-50);}
#mobileMenuWrap .mobileMenuUserWrap .mobileMenuUserImg img{height: 100%; object-fit: contain;}
#mobileMenuWrap .mobileMenuUserWrap .mobileMenuUserName{font-size: var(--font-size-xl); font-weight: var(--semi-bold); color: var(--guide-300);}
#mobileMenuWrap .mobileMenuUserWrap .mobileMenuUserName span{color: var(--guide-900);}
#mobileMenuWrap .mobileMenuUserWrap .mobileMenuEndUseBtn{padding: var(--spacing-xs); border-radius: var(--radius-s); border: 1px solid var(--gray-100); background-color: var(--primary-500); font-weight: var(--bold); color: var(--white); box-shadow: 0 4px 20px #A3CFF6;}

}

/* 품목 모달 목록 */
#itemListWrap{display: flex; max-width: 1350px; width: calc(100% - 20px); max-height: 906px;
  height: calc(100vh - 80px); position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); border-radius: var(--radius-l); z-index: 999; overflow: hidden; }
#itemListWrap .itemListBox{flex: 1; display: flex; flex-direction: column; height: 100%; padding: var(--spacing-lm) var(--spacing-lm) 0; background-color: var(--white);}
#itemListWrap .itemListLayoutBox{display: flex; align-items: flex-start; min-height: 0;}
#itemListWrap .itemListSearchTopBox{margin-bottom: var(--spacing-lm ); position: relative;}
#itemListWrap .itemListSearchTopBox input{width: 100%; padding: 0 var(--spacing-2xl) 0 var(--spacing-s); height: 64px; border: 1px solid var(--gray-600); border-radius: var(--radius-m); font-weight: var(--medium); font-size: var(--font-size-xl); color: var(--gray-600);}
#itemListWrap .itemListSearchTopBox input::placeholder{color: var(--gray-600);}
#itemListWrap .itemListSearchTopBox .searchBtn{width: 40px; height: 40px; position: absolute; top: 50%; transform: translateY(-50%); right:16px; border-radius: var(--radius-l); background-color: var(--gray-100); transition: all .3s;}
#itemListWrap .itemListSearchTopBox .searchBtn:hover{background-color: var(--white); border: 1px solid var(--primary-100); box-shadow: 8px 8px 40px rgba(30, 43, 55, 0.1);}
#itemListWrap .itemListSearchTopBox .searchBtn::after{content: ''; width: 19px; height: 19px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background: url(../images/main/search_icon.svg)no-repeat center;}
#itemListWrap .itemListTabBtnBox{width: 183px; flex-shrink: 0;}
#itemListWrap .itemListTabBtnBox .itemListTabBtnList li{margin-bottom: var(--spacing-s);}
#itemListWrap .itemListTabBtnBox .itemListTabBtnList li:last-child{margin-bottom: 0;}
#itemListWrap .itemListTabBtnBox .itemListTabBtnList li .itemListTabBtn{padding: var(--spacing-xs); color: var(--gray-600); font-weight: var(--medium); font-size: var(--Subtitle-1); border-radius: var(--radius-s); transition: all .3s;}
#itemListWrap .itemListTabBtnBox .itemListTabBtnList li .itemListTabBtn:hover{background-color: var(--gray-100);}
#itemListWrap .itemListTabBtnBox .itemListTabBtnList li .itemListTabBtn.active{background-color: var(--primary-500); border: 1px solid var(--gray-100); color: var(--white); font-weight: var(--bold); box-shadow: 0 10px 40px rgba(57, 142, 241, 0.22);}
#itemListWrap .itemListTabContentBox{flex: 1; flex-shrink: 1; padding-bottom: var(--spacing-m); min-height: 0; height: 100%; overflow-y: auto;}
#itemListWrap .itemListTabContentBox .itemListTabContentList{display: grid; grid-template-columns: repeat(3,1fr); gap: var(--spacing-lm) var(--spacing-ms);} 
#itemListWrap .itemListTabContentBox .itemListTabContentList li .itemListBtn{display: block; width: 100%;}
#itemListWrap .itemListTabContentBox .itemListTabContentList li .itemListBtn:hover .itemListImgBox img{transform: scale(1.03);}
#itemListWrap .itemListTabContentBox .itemListTabContentList li .itemListBtn:hover .itemListImgBox{background-color: var(--white); border-color: var(--gray-900);}
#itemListWrap .itemListTabContentBox .itemListTabContentList li .itemListImgBox{position: relative; margin-bottom: var(--spacing-s); height: 0; padding-top: 99%; border-radius: var(--radius-m); background-color: var(--guide-50); border: 2px solid transparent; transition: all .7s;}
#itemListWrap .itemListTabContentBox .itemListTabContentList li .itemListImgBox img{position: absolute; top:0; left:0; right:0; bottom: 0; height: 100%; object-fit: cover; transition: all .7s;}
#itemListWrap .itemListTabContentBox .itemListTabContentList li .itemListImgBox .itemSpecification{padding: var(--spacing-2xs) var(--spacing-xs); position: absolute; left:16px; bottom: 16px; border: 1px solid var(--gray-200); background-color: var(--white); border-radius: var(--radius-xs); font-weight: var(--medium); line-height: 1;}
#itemListWrap .itemListTabContentBox .itemListTabContentList li .itemListBtn:hover .itemListTextBox h3{color: var(--primary-500);}
#itemListWrap .itemListTabContentBox .itemListTabContentList li .itemListTextBox h3{margin-bottom: var(--radius-xs); color: var(--gray-900); font-weight: var(--semi-bold); font-size: var(--H6); transition: all .7s;}
#itemListWrap .itemListTabContentBox .itemListTabContentList li .itemListTextBox .itemPrice{display: flex; align-items: center; gap: 0 var(--spacing-2xs); color: var(--gray-600); font-weight: var(--medium);}
#itemListWrap .itemListTabContentBox .itemListTabContentList li .itemListTextBox .itemPrice::before{content: ''; margin-top: 2px; width: 18px; height: 18px; background: url(../images/main/price_icon.svg)no-repeat center;} 
#itemListWrap .itemSelectBox{display: flex; flex-direction: column; padding: var(--spacing-m) 0 0; flex-shrink: 0; width: 400px; background: radial-gradient(
  circle at center,#C4DFFE 0%, #ECF5FF 65%,#ECF5FF 100%);}
#itemListWrap .itemSelectBox .itemSelectTopText{color: var(--guide-900); font-weight: var(--bold); font-size: var(--H5);}
#itemListWrap .itemSelectBox .itemSelectTopBox{padding: var(--spacing-m);  display: flex; align-items: center; justify-content: space-between;}
#itemListWrap .itemSelectBox .itemSelectEmpty{padding: var(--spacing-2xs) var(--spacing-xs); border-radius: var(--radius-xs); background-color: var(--white); color: var(--guide-500); font-weight: var(--bold); font-size: var(--body-2); border: 1px solid var(--guide-500);}
#itemListWrap .itemSelectBox .itemSelectContentBox{padding: var(--spacing-m); flex: 1; overflow-y: auto;}
#itemListWrap .itemSelectBox .itemSelectContentBox .noSelectText{height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; gap: var(--spacing-s); font-weight: var(--semi-bold); font-size: var(--font-size-xxxl); color: var(--guide-400); text-align: center;}
#itemListWrap .itemSelectBox .itemSelectContentBox .noSelectText::before{content: ''; width: 64px; height: 64px; background: url(../images/main/trashcan_icon.svg)no-repeat center / contain;}
#itemListWrap .itemSelectBox .itemSelectPriceWrap{margin-top: auto; padding: var(--spacing-m); background: linear-gradient(#fff 0%,#ECF5FF 100%);}
#itemListWrap .itemSelectBox .itemSelectPriceWrap .itemSelectPriceBox{margin-bottom: var(--spacing-s); display: flex; align-items: center; justify-content: space-between;}
#itemListWrap .itemSelectBox .itemSelectPriceWrap .itemSelectPriceText{font-size: var(--font-size-s); font-weight: var(--semi-bold); color: #2F3D4A;} 
#itemListWrap .itemSelectBox .itemSelectPriceWrap .itemSelectPrice{ display: flex; align-items: center; gap: 0 var(--spacing-2xs); color: var(--gray-600); font-weight: var(--bold); font-size: var(--H5);} 
#itemListWrap .itemSelectBox .itemSelectPriceWrap .itemSelectPrice::before{content: ''; flex-shrink: 0; width: 18px; height: 18px; background: url(../images/main/price_icon.svg)no-repeat center;}
#itemListWrap .itemSelectBox .itemSelectPriceWrap .btn.btnPositive{flex: 2;}
#itemListWrap .itemSelectList li{position: relative; margin-bottom: var(--spacing-xs); display: flex; justify-content: space-between; gap: 0 var(--spacing-ms); padding: var(--spacing-s); background-color: var(--white); border-radius: var(--radius-s);}
#itemListWrap .itemSelectList li:last-child{margin-bottom: 0;}
#itemListWrap .itemSelectList li .itemSelectImgBox{width: 64px; height: 64px; border-radius: var(--radius-m); background-color: var(--guide-50);}
#itemListWrap .itemSelectList li .itemSelectImgBox img{height: 100%; object-fit: cover;}
#itemListWrap .itemSelectList li .itemSelectTextBox{flex: 1;}
#itemListWrap .itemSelectList li .itemSelectTextBox .itemSelectName{padding-right: var(--spacing-lm); margin-bottom: var(--spacing-2xs); color: var(--gray-900); font-weight: var(--bold); font-size: var(--font-size-m);}
#itemListWrap .itemSelectList li .itemSelectTextBox .itemSelectOption{display: block; margin-bottom: var(--spacing-2xs); color: var(--gray-600); font-weight: var(--medium);}
#itemListWrap .itemSelectList li .itemSelectInfoBox{display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;}
.itemSelectCountBox{display: flex; gap: 0 var(--spacing-2xs);}
.itemSelectCountBtn{position: relative; width: 28px; height: 28px; border: 1px solid var(--guide-100); border-radius: var(--radius-xs);} 
.itemSelectCountBtn::after{content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.itemSelectMinusBtn::after{width: 13px; height: 4px; background: url(../images/main/minus_icon.svg)no-repeat center;}
.itemSelectPlusBtn::after{width: 13px; height: 13px; background: url(../images/main/plus_icon.svg)no-repeat center;}
#itemListWrap .itemSelectList li .itemSelectSummaryBox{display: flex; align-items: center; gap:0 var(--spacing-xs)}
#itemListWrap .itemSelectList li .itemSelectSummaryBox .itemSelectCount{color: var(--primary-500); font-weight: var(--bold);}
#itemListWrap .itemSelectList li .itemSelectSummaryBox .itemSelectPrice{color: var(--gray-600); font-weight: var(--medium);}
#itemListWrap .itemSelectList li .itemSelectDelBtn{position: absolute; top:16px; right:16px; width: 36px; height: 36px; background: url(../images/main/delete_icon.svg)no-repeat center / contain;}

@media (max-width: 1280px) {

  #itemListWrap .itemListTabContentBox .itemListTabContentList{grid-template-columns: repeat(2, 1fr);}

}

@media (max-width: 1024px) {

  #itemListWrap .itemListSearchTopBox {margin-bottom: var(--spacing-m);}
  #itemListWrap .itemListSearchTopBox input{font-size: var(--font-size-l);}
  #itemListWrap .itemListLayoutBox {flex-direction: column;}
  #itemListWrap .itemListTabBtnBox {width: 100%; margin-bottom: var(--spacing-ml);}
  #itemListWrap .itemListTabBtnBox .itemListTabBtnList{display: flex; flex-wrap: wrap; gap: var(--spacing-2xs);}
  #itemListWrap .itemListTabBtnBox .itemListTabBtnList li{margin: 0;}
  #itemListWrap .itemListTabBtnBox .itemListTabBtnList li .itemListTabBtn{font-size: var(--font-size-m);}
  #itemListWrap .itemListTabContentBox{width: 100%;}
  #itemListWrap .itemListTabContentBox .itemListTabContentList li .itemListTextBox h3 {font-size: var(--font-size-l);}
  #itemListWrap .itemSelectBox {width: 250px;}
  #itemListWrap .itemSelectBox .itemSelectTopText,
  #itemListWrap .itemSelectBox .itemSelectContentBox .noSelectText {font-size: var(--font-size-l);}
  #itemListWrap .itemSelectBox .itemSelectPriceWrap .itemSelectPrice{font-size: var(--font-size-l);  }

  #itemListWrap .itemSelectList li{flex-direction: column; gap: var(--spacing-xs) 0; padding: var(--spacing-ml) var(--spacing-s) var(--spacing-s) var(--spacing-s); }
  #itemListWrap .itemSelectList li .itemSelectTextBox .itemSelectName{padding: 0;}
  #itemListWrap .itemSelectList li .itemSelectImgBox{width: 100%; height: 130px;}
  #itemListWrap .itemSelectList li .itemSelectDelBtn{top: 6px; right:6px; width: 26px; height: 26px;}
  #itemListWrap .itemSelectBox .itemSelectTopBox{padding: var(--spacing-m) var(--spacing-s);}
  #itemListWrap .itemSelectBox .itemSelectContentBox{padding: var(--spacing-s);}
  
}

@media (max-width: 768px) {

  #itemListWrap {flex-direction: column; border-radius: var(--radius-s);}
  #itemListWrap .itemListSearchTopBox input{height: 56px; border-radius: var(--radius-s);}
  #itemListWrap .itemListBox {flex: 1; min-height: 0; padding: var(--spacing-ms) var(--spacing-s);
  }
  #itemListWrap .itemListTabContentBox .itemListTabContentList li .itemListImgBox .itemSpecification{font-size: var(--font-size-s);}
  #itemListWrap .itemListLayoutBox {flex: 1; min-height: 0;}
  #itemListWrap .itemListTabContentBox {flex: 1; min-height: 0; overflow-y: auto;}
  #itemListWrap .itemSelectBox {width: 100%; flex-shrink: 0; padding:0; border-top: 1px solid var(--gray-200);}
  #itemListWrap .itemSelectBox .itemSelectContentBox {display: none; }
  #itemListWrap .itemSelectBox .itemSelectTopBox {display: flex;
    align-items: center; justify-content: space-between;}
  #itemListWrap .itemSelectBox .itemSelectTopText{font-weight: var(--semi-bold);}
  #itemListWrap .itemSelectBox .itemSelectEmpty {font-size: var(--font-size-s);}
  #itemListWrap .itemSelectBox .itemSelectPriceWrap {display: flex; align-items: center; gap: var(--spacing-s);}
  #itemListWrap .itemSelectBox .itemSelectPriceWrap .itemSelectPriceBox{margin: 0; flex-wrap: wrap; flex: 1; gap: var(--radius-xs) 0;}
  #itemListWrap .itemSelectBox .itemSelectPriceText {display: block; font-size: var(--font-size-s); color: var(--gray-600);}
  #itemListWrap .itemSelectBox .itemSelectPrice {font-size: var(--font-size-l); font-weight: var(--bold); }
  #itemListWrap .itemSelectBox .itemSelectPriceWrap .btnBox {flex: 1.4; display: flex; gap: var(--spacing-xs);}

  #itemListWrap .itemListSearchTopBox input,
  #itemListWrap .itemListTabContentBox .itemListTabContentList li .itemListTextBox h3,
  #itemListWrap .itemSelectBox .itemSelectTopText,
  #itemListWrap .itemSelectBox .itemSelectPriceWrap .itemSelectPrice{font-size: var(--font-size-m);}

}

@media (max-width: 480px){

  #itemListWrap .itemListTabBtnBox{margin-bottom: var(--spacing-ms);}
  #itemListWrap .itemListTabContentBox .itemListTabContentList li .itemListTextBox h3,
  #itemListWrap .itemListTabContentBox .itemListTabContentList li .itemListTextBox .itemPrice,
  #itemListWrap .itemListTabBtnBox .itemListTabBtnList li .itemListTabBtn,
  #itemListWrap .itemSelectBox .itemSelectTopText{font-size: var(--font-size-s);}
  #itemListWrap .itemListTabContentBox .itemListTabContentList li .itemListTextBox .itemPrice::before{margin: 0;}
  #itemListWrap .itemListTabContentBox .itemListTabContentList{grid-template-columns: 1fr;}

}

/* 품목 규격 선택 모달 */ 
#itemSpecSelectWrap{ display: flex; flex-direction: column; max-width: 532px; width: calc(100% - 20px); max-height: 540px; height: calc(100vh - 80px); padding: var(--spacing-m); position: fixed; top:50%; left: 50%; transform: translate(-50%, -50%); z-index: 999; background-color: var(--white); border-radius: var(--radius-m); border: 1px solid var(--gray-600);  box-shadow: 0 10px 40px rgba(57, 142, 241, 0.22); opacity: 0; visibility: hidden; transition: all 1s;}
#itemSpecSelectWrap.active{opacity: 1; visibility: visible;}
 #itemSpecSelectWrap .itemSpecSelectTopBox{margin-bottom: var(--spacing-m); display: flex; align-items: center; gap: 0 var(--spacing-s);}
 #itemSpecSelectWrap .itemSpecSelectTopBox .itemSpecSelectImgBox{flex-shrink: 0; width: 64px; height: 64px; border-radius: var(--radius-m); background-color: var(--guide-50);}
#itemSpecSelectWrap .itemSpecSelectTopBox .itemSpecSelectImgBox img{height: 100%; object-fit: cover;}
#itemSpecSelectWrap .itemSpecSelectTopBox .itemSpecSelectTextBox .itemSpecSelectText{color: var(--gray-900); font-weight: var(--semi-bold); font-size: var(--font-size-xxxl); line-height: 1.4;} 
#itemSpecSelectWrap .itemSpecText{align-self: flex-start; padding: var(--spacing-2xs) var(--spacing-xs); margin-bottom: var(--spacing-xs); display: inline-block; color: var(--gray-600); font-weight: var(--medium); font-size: var(--body-2); border: 1px solid var(--gray-200); border-radius: var(--radius-xs); line-height: 1.3;}
#itemSpecSelectWrap .itemSpecListBox{flex: 1;}
#itemSpecSelectWrap .itemSpecListBox .itemSpecRadioBox{padding: var(--spacing-xs) 0; margin-bottom: var(--spacing-xs); display: flex; flex-wrap: wrap; gap: var(--spacing-xs); align-items: center; justify-content: space-between;}
#itemSpecSelectWrap .itemSpecListBox .itemSpecRadioBox:last-child{margin-bottom: 0;}
#itemSpecSelectWrap .itemSpecListBox .itemSpecRadioBox .itemSpecPriceBox span{display: flex; align-items: center; gap: 0 var(--spacing-2xs); color: var(--gray-600); font-weight: var(--medium);}
#itemSpecSelectWrap .itemSpecListBox .itemSpecRadioBox .itemSpecPriceBox span::before{content: ''; width: 18px; height: 18px; background: url(../images/main/price_icon.svg)no-repeat center;}
#itemSpecSelectWrap .itemSpecQuantityBox{margin:auto 0 var(--spacing-s); display: flex; align-items: center; justify-content: space-between;}
#itemSpecSelectWrap .itemSpecQuantityBox .itemSpecQuantityText{color: #2F3D4A; font-weight: var(--semi-bold); font-size: var(--font-size-s);}
#itemSpecSelectWrap .itemSpecQuantityBox .itemSelectCountBox{display: flex; align-items: center; gap: 0 var(--spacing-s);}
#itemSpecSelectWrap .itemSpecQuantityBox .itemSelectCountBox .itemSelectCountText{color: var(--gray-600); font-weight: var(--bold); font-size: var(--H5);}
#itemSpecSelectWrap .btn{width: 100%;}
#itemSpecSelectWrap .itemSpecModalCloseBtn{display: flex; flex-direction: column; align-items: center;  position: absolute; top:24px; right:24px; color: var(--gray-600); font-weight: var(--medium); font-size: var(--font-size-m);}
#itemSpecSelectWrap .itemSpecModalCloseBtn::before{content: ''; width: 36px; height: 36px; background: url(../images/main/close_icon01.svg)no-repeat center; border-radius: var(--radius-2xs); border: 1px solid transparent; transition: all .3s;}
#itemSpecSelectWrap .itemSpecModalCloseBtn:hover::before{background-color: var(--guide-50); border-color:var(--guide-100);}
    
/* 공통 - 체크박스 */
input[type="radio"] + label,
input[type="checkbox"] + label{position: relative; display: flex; align-items: center; gap: 0 var(--spacing-xs); color: var(--black); font-weight: var(--semi-bold); font-size: var(--font-size-m); cursor: pointer;}
input[type="radio"] + label::before,
input[type="checkbox"] + label::before{content: ''; flex-shrink: 0; width: 20px; height: 20px; border: 2px solid var(--gray-200); border-radius: 50%;}
input[type="radio"]:checked + label::before,
input[type="checkbox"]:checked + label::before{border: 0; width: 24px; height: 24px; background: url(../images/common/chk_on.svg)no-repeat center / contain;}