@charset "UTF-8";

/* 공통 */
html, body{height: 100%;}
#wrap{min-height: 100vh; position: relative; display: flex; flex-direction: column;}
#wrap::after{content: ''; position: absolute; top:0; left:0; right:0; bottom: 0; background: linear-gradient(180deg, #ECF0F3 0%, #ECF5FF 50%, #ECF0F3 100%); z-index: -2;}
main{flex: 1;}
.blind{position: absolute; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px; overflow: hidden;}
.mobileMenuOverlay,
.overlay{display: none; position: fixed; top:0; left:0; right:0; bottom: 0;background: rgba(30, 43, 55, 0.5); backdrop-filter: blur(3px); -webkit-backdrop-filter: blur(3px); z-index: 99;}
.mobileMenuOverlay.active,
.overlay.active{display: block;}

@media (min-width: 1281px){

  .mobileMenuOverlay{display: none!important;}

}

@media (max-width: 1280px){

  body.mobileNonScroll{overflow: hidden;}

}

/* 공통 - 버튼 */
.btn{display: inline-flex; align-items: center; justify-content: center; min-width: 108px ; height: 56px; padding: var(--spacing-xs); color: var(--white); border-radius: var(--radius-s); font-size: var(--font-size-l); transition: all .3s;}
.btn.btnPrimary{background-color: var(--gray-600);}
.btn.btnPositive{background-color: var(--primary-500);}
.btn.btnSecondary{background-color: var(--gray-400);}
.btn.btnNegative{background-color: var(--primary-900);}
.btn:hover{background-color: var(--gray-400);} 
.btn.btnPositive:hover{background-color: var(--primary-400);}
.btn.btnNegative:hover{background-color: var(--primary-800);}

/* 공통 - 버튼(정렬) */
.btnBox{display: flex; justify-content: center; flex-wrap: wrap; gap: var(--spacing-xs);}
.btnBox.left {justify-content: flex-start;}
.btnBox.center {justify-content: center;}
.btnBox.right {justify-content: flex-end;}
.btnBox.between {justify-content: space-between; width: 100%;}
.btnLayoutBox{display: flex; flex-wrap: wrap; gap: var(--spacing-xs);}

@media (max-width: 1024px){

  .btn{min-width: 80px; height: 48px; font-size: var(--font-size-m);}

}

@media (max-width: 480px){

  .btn{min-width: 57px; height: 36px; font-size: var(--font-size-s);}

}   

/* 공통 - 닫기 버튼 */
.closeBtn{display: flex; flex-direction: column; align-items: center;  }
.closeBtn span{color: var(--gray-600); font-weight: var(--medium); font-size: var(--font-size-s);}
.closeBtn::before{content: ''; width: 36px; height: 36px; background: url(../images/main/close_icon01.svg)no-repeat center; border-radius: var(--radius-2xs); border: 1px solid transparent; transition: all .3s;}
.closeBtn:hover::before{background-color: var(--guide-50); border-color:var(--guide-100);}

@media (max-width: 480px){

  .closeBtn span{position: absolute; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px; overflow: hidden;}

}


/* 공통 - 애니메이션(드롭다운) */
.dropdown {opacity: 0; visibility: hidden; max-height: 0; overflow: hidden; pointer-events: none;
transition: all .8s;}
.toggleBtn::after {transition: all .3s;}
.active .dropdown {opacity: 1; visibility: visible; max-height: 500px; pointer-events: auto;transition: all .8s;}
.active .toggleBtn::after{transform: rotate(-180deg);}

/* 공통 - 호버 시 텍스트 슬라이드 */
.slideText{position: relative; width: 100%; overflow: hidden; text-align: center;}
.slideText,
.slideTextItem{display: flex; align-items: center; justify-content: center; height: 100%;}
.slideTextItem{white-space: nowrap; transition: transform .45s cubic-bezier(.22, 1, .36, 1);}
.slideTextPrimary{transform: translateY(0);}
.slideTextClone{position: absolute; top: 0; left: 0; width: 100%;
  transform: translateY(-100%);}
.slideText:hover .slideTextPrimary{transform: translateY(100%);}
.slideText:hover .slideTextClone{transform: translateY(0);}

/* 공통 - 팝업 */
#popupWrap{display: flex; align-items: center; justify-content: center; padding: var(--radius-m); position: fixed; top:0; left:0; right:0; bottom: 0;background: rgba(30, 43, 55, 0.5); backdrop-filter: blur(3px); -webkit-backdrop-filter: blur(3px); z-index: 99;}
#popupWrap .popupBox{max-width: 508px; width: 100%;}
#popupWrap .popupBtnBox{display: flex; border-radius: 0 0 var(--radius-m) var(--radius-m); overflow: hidden;}
#popupWrap .popupBtnBox .popupBtn{height: 56px; flex:1; background-color: var(--white); font-weight: var(--medium); color: var(--gray-600); border-right: 1px solid var(--gray-100); text-align: center;}
#popupWrap .popupBtnBox .popupBtn:last-child{border-right:0;}
#popupWrap .slickWrap{position: relative;}
#popupWrap .arrowBtn{position: absolute; top: 50%; transform: translateY(-50%);}
#popupWrap .arrowBtn.prevArrowBtn{left:-56px;}
#popupWrap .arrowBtn.nextArrowBtn{right:-56px;}
.arrowBtn{position: relative; width: 40px; height: 40px; border: 1px solid var(--gray-100); border-radius: var(--radius-l ); background-color: var(--white);}
.arrowBtn::after{content: ''; width: 11px; height: 17px; position: absolute; top:50%; left: 50%; transform: translate(-50%, -50%);}
.arrowBtn.prevArrowBtn::after{ background: url(../images/common/arrow_icon03.svg)no-repeat center;}
.arrowBtn.nextArrowBtn::after{ background: url(../images/common/arrow_icon04.svg)no-repeat center;}

@media (max-width: 1024px){

  #popupWrap .controlBox{display: none;}

}

@media (max-width: 480px){

  #popupWrap .popupBtnBox .popupBtn{height: 50px; font-size: var(--font-size-s);}

}

.slick-dots{position: absolute; left:16px; bottom: 16px; min-width: 56px; padding: var(--radius-xs); display: flex; gap: 0 var(--spacing-2xs); align-items: center; background: rgba(255,255,255,0.25); border-radius: var(--radius-s); box-shadow: inset 0 0 8px rgba(255,255,255,.5); backdrop-filter: blur(8px); }
.slick-dots li.slick-active button{width: 16px; background: #FFD700; transition: all .3s;}
.slick-dots li button{display: block; width: 8px; height: 8px; text-indent: -9999px; border-radius: var(--radius-s); background-color:var(--white); cursor: pointer;}

/* 헤더 */
#headerWrap{padding: var(--spacing-s) var(--spacing-ms); display: flex; justify-content: space-between; align-items: center;}
#headerWrap .headerLogoBox{display: flex; align-items: flex-end; gap: var(--spacing-s)}
#headerWrap .headerLanguageSelectBox{position: relative;}
#headerWrap .headerLanguageSelectBox .languageSelect{padding-left: var(--spacing-2xs); height: 28px; display: flex; align-items: center; background-color: var(--white); color: var(--gray-600); font-weight: var(--medium); border-radius: var( --radius-xs); transition: all .3s;}
#headerWrap .headerLanguageSelectBox .languageSelect::before{content: ''; margin-right: var(--spacing-xs); width: 28px; height: 28px; background: url(../images/common/gonfalon_icon.svg)no-repeat center;}
#headerWrap .headerLanguageSelectBox .languageSelect::after{content: ''; margin-left: var(--spacing-2xs); width: 24px; height: 24px; background: url(../images/common/arrow_icon01.svg)no-repeat center;}
#headerWrap .headerLanguageSelectBox .languageSelectList{padding: var(--spacing-2xs); position: absolute; top:28px; left:0; right:0; background-color: var(--white); border-radius: 0 0 var( --radius-xs) var( --radius-xs); z-index: 9;}
#headerWrap .headerLanguageSelectBox .languageSelectList li .languageSelectBtn{width: 100%; padding-left: var(--spacing-2xs); margin-bottom: var(--spacing-2xs); display: flex; align-items: center; gap: 0 var(--spacing-2xs); color: var(--gray-600); font-weight: var(--medium); font-size: var(--Subtitle-2); border-radius: var(--radius-2xs); border: 1px solid transparent; transition: all .3s;}
#headerWrap .headerLanguageSelectBox .languageSelectList li .languageSelectBtn::before{content: ''; flex-shrink: 0; width: 28px; height: 28px;}
#headerWrap .headerLanguageSelectBox .languageSelectList li .gonfalonIcon01::before{background: url(../images/common/gonfalon_icon01.svg)no-repeat center;}
#headerWrap .headerLanguageSelectBox .languageSelectList li .gonfalonIcon02::before{background: url(../images/common/gonfalon_icon02.svg)no-repeat center;}
#headerWrap .headerLanguageSelectBox .languageSelectList li .gonfalonIcon03::before{background: url(../images/common/gonfalon_icon03.svg)no-repeat center;}
#headerWrap .headerLanguageSelectBox .languageSelectList li .gonfalonIcon04::before{background: url(../images/common/gonfalon_icon04.svg)no-repeat center;}
#headerWrap .headerLanguageSelectBox .languageSelectList li .gonfalonIcon05::before{background: url(../images/common/gonfalon_icon05.svg)no-repeat center;}
#headerWrap .headerLanguageSelectBox .languageSelectList li .gonfalonIcon06::before{background: url(../images/common/gonfalon_icon06.svg)no-repeat center;}
#headerWrap .headerLanguageSelectBox .languageSelectList li .gonfalonIcon07::before{background: url(../images/common/gonfalon_icon07.svg)no-repeat center;}
#headerWrap .headerLanguageSelectBox .languageSelectList li .languageSelectBtn:last-child{margin-bottom: 0;}
#headerWrap .headerLanguageSelectBox .languageSelectList li .languageSelectBtn:hover{background-color: #EBF4FE; border-color: var(--primary-500);} 
#headerWrap .headerLanguageSelectBox.active .languageSelect{border-radius: var(--radius-xs) var(--radius-xs) 0 0; color: var(--primary-500);}
#headerWrap .headerLanguageSelectBox .languageSelect:hover{color: var(--primary-500);}
#headerWrap nav .headerDepth{display: flex;}
#headerWrap nav .headerDepth li h2 a{display: block; padding: var(--spacing-xs) var(--spacing-ml); color: var(--guide-800); font-size: var(--font-size-xxxl); font-weight: var(--semi-bold);}
#headerWrap .headerAlarmBtn{flex-shrink: 0; display: flex; align-items: center; gap: 0 var(--spacing-xs); padding: 0 var(--spacing-s); height: 36px; background-color: var(--gray-600); border-radius: var(--radius-xs); color: var(--white); font-weight: var(--medium); line-height: 1; transition: all .3s;}
#headerWrap .headerAlarmBtn:hover{background-color: var(--primary-500);}
#headerWrap .headerAlarmBtn::before{content: ''; width: 14px; height: 14px; background: url(../images/common/alarm_icon.svg)no-repeat center;}

@media (max-width: 1440px){

  #headerWrap{align-items: flex-start;}
  #headerWrap .headerLogoBox{flex-direction: column; align-items: flex-start;}
  #headerWrap nav .headerDepth li h2 a{ padding: 12px var(--spacing-ml); font-size: var(--font-size-xl);}
  #headerWrap .headerAlarmBtn{margin-top: var(--spacing-xs);}
  
}

@media (max-width: 1280px) {

  #headerWrap{align-items: center;}
  #headerWrap nav{display: none;}
  #headerWrap .headerLogoBox{flex-direction: row; align-items: flex-end;}
  #headerWrap .headerAlarmBtn{margin-top: 0;}
  
}

@media (max-width: 768px){

  #headerWrap{padding: var(--spacing-xs) var(--spacing-ms);}
  #headerWrap .headerAlarmBtn span{display: none;}

}

@media (max-width: 576px){

  #headerWrap{padding: var(--spacing-s);}
  #headerWrap .headerLogoBox h1 a img{width: 179px;}

}

@media (max-width: 480px){

  #headerWrap .headerLogoBox h1 a img{width: 153px;}
  #headerWrap .headerAlarmBtn::before{display: none;}
  #headerWrap .headerLogoBox{flex-direction: column; align-items: flex-start;}
  #headerWrap .headerLanguageSelectBox .languageSelectList li .languageSelectBtn,
  #headerWrap .headerLanguageSelectBox .languageSelect{font-size: var(--font-size-s);}

}

/* 푸터 */
#footerWrap{ padding: var(--spacing-s) var(--spacing-ms);}
#footerWrap .footerLinkBox{margin-bottom: var(--spacing-xs); display: flex; flex-wrap: wrap; align-items: center; gap: var(--spacing-xs);}
#footerWrap .footerLinkBox .footerLink{height: 25px; line-height: 25px; padding:0 var(--spacing-xs); border-radius: var(--radius-xs); background-color: var(--white); color: var(--guide-500); font-weight: var(--medium); font-size: var(--font-size-s); border: 1px solid transparent; transition: all .3s;}
#footerWrap .footerLinkBox .footerLink:hover{box-shadow: 0 0 40px rgba(0, 132, 255, 0.25); border-color: var(--guide-500);}
#footerWrap .footerLinkBox .footerLink.policy{color: var(--guide-700); border: 1px solid var(--guide-100)!important; font-weight: var(--bold);}
#footerWrap .copyright{color: var(--guide-300); font-weight: var(--bold); font-size: var(--font-size-xs);}

@media (max-width: 1440px){

  #footerWrap .footerLinkBox .footerLink{font-size: var(--font-size-s);}

}

@media (max-width: 576px){

  #footerWrap .footerLinkBox{justify-content: center;}
  #footerWrap .copyright{text-align: center;}

}

/* 챗봇 */
#chatbot{position: fixed; right: 20px; bottom: 20px ;}
#chatbot .chatbotBox{display: flex; flex-direction: column; align-items: flex-end; transition: all .3s;}
#chatbot .chatbotBtn{display: flex; align-items: center; gap: 0 var(--spacing-2xs);}
#chatbot .chatbotBtn::before{content: ''; width: 40px; height: 40px; background: url(../images/common/chatbot_icon.svg)no-repeat center / contain;}
#chatbot .chatbotBtn span{background-color: var(--white); font-weight: var(--bold); color: var(--guide-700); padding: var(--spacing-2xs); border-radius: var(--radius-xs); }
#chatbot .chatbotInfoText{margin-bottom: var(--spacing-xs); position: relative; display: flex; align-items: center; gap: 0 var(--spacing-xs); min-height: 40px; padding: var(--spacing-xs); border-radius: var(--radius-s); border: 1px solid var(--gray-100); box-shadow: 0 4px 20px #A3CFF6; background-color: var(--primary-500);}
#chatbot .chatbotInfoText::after{content: ''; width: 20px; height: 12px; position: absolute; bottom: -8px; right:47px; background: url(../images/common/arrow_icon02.svg)no-repeat center / contain;}
#chatbot .chatbotInfoText p{display: flex; align-items: center; gap: 0 var(--spacing-xs); font-weight: var(--semi-bold); color: var(--white); font-size: var(--font-size-s);}
#chatbot .chatbotInfoText p::before{content: ''; width: 20px; height: 20px; background: url(../images/common/highlight_icon.svg)no-repeat center / contain;}
#chatbot .chatbotInfoText .chatbotCloseBtn{width: 24px; height: 24px; background: url(../images/common/close_icon02.svg)no-repeat center / contain;}
#chatbot .chatbotHeader{padding: 0 var(--spacing-m); height: 80px; display: flex; align-items: center; justify-content: space-between;}
#chatbot .chatbotHeader .chatbotTitleBox .chatbotTitle{display: flex; align-items: center; gap: 0 var(--spacing-xs); color: var(--guide-700); font-weight: var(--bold);}
#chatbot .chatbotHeader .chatbotTitleBox .chatbotTitle::before{content: ''; width: 40px; height: 40px; background: url(../images/common/chatbot_icon.svg)no-repeat center;}
#chatbot .chatbotBody{flex: 1; padding: var(--spacing-m); overflow-y: auto; scrollbar-width: none;
  -ms-overflow-style: none;}
#chatbot .chatbotBody::-webkit-scrollbar{display: none;}
#chatbot .chatbotBody .chatbotMessage{display: flex;}
#chatbot .chatbotBody .chatbotMessage .chatbotUploadImgBox{margin-bottom: var(--spacing-s);}
#chatbot .chatbotBody .chatbotMessageList {display: flex; flex-direction: column; gap: var(--spacing-lm) 0;}
#chatbot .chatbotBody .chatbotMessageBot .chatbotMessageCont p{position: relative; padding: var(--spacing-xs) var(--spacing-ml); background-color: var(--guide-500);}
#chatbot .chatbotBody .chatbotMessageBot .chatbotMessageCont p::before{content: ''; position: absolute; top:8px; left:-11px; width: 11px; height: 16px; background: url(../images/common/arrow_icon05.svg)no-repeat center;}
#chatbot .chatbotBody .chatbotMessageCont p{margin-bottom: var(--spacing-s); position: relative; border-radius: var(--radius-xs); font-size: var(--font-size-m); font-weight: var(--medium);  color: var(--white);} 
#chatbot .chatbotBody .chatbotMessageCont p:last-child{margin-bottom: 0;}
#chatbot .chatbotBody .chatbotMessageUser .chatbotMessageCont p{justify-self: flex-end; padding: var(--spacing-xs); background-color: var(--primary-500);}
#chatbot .chatbotBody .chatbotMessageUser .chatbotMessageCont p::after{content: ''; position: absolute; top:8px; right:-11px; width: 11px; height: 16px; background: url(../images/common/arrow_icon06.svg)no-repeat center;}
#chatbot .chatbotBody .chatbotMessageBot{justify-content: flex-start;}
#chatbot .chatbotBody .chatbotMessageUser{justify-content: flex-end;}
#chatbot .chatbotBody .chatbotOptionBox .chatbotOptionTitle{display: block; margin-bottom: var(--spacing-xs); color: var(--gray-900); font-size: var(--Subtitle-1);}
#chatbot .chatbotBody .chatbotOptionBox .chatbotOptionList .chatbotOptionBtn{display: block; margin: var(--spacing-xs) 0; padding: var(--spacing-xs); color: var(--primary-900); font-weight: var(--medium); font-size: var(--Subtitle-1); border: 1px solid var(--guide-200); border-radius: var(--radius-xs); line-height: 1.3; transition: all .3s;}
#chatbot .chatbotBody .chatbotOptionBox .chatbotOptionList .chatbotOptionBtn:not(.chatbotOptionBtnEtc):hover {border-color: var(--guide-500);}
#chatbot .chatbotBody .chatbotOptionBox .chatbotOptionList .chatbotOptionBtn:last-child{margin-bottom: 0;}
#chatbot .chatbotBody .chatbotOptionBox .chatbotOptionList .chatbotOptionBtnEtc{background-color: var(--danger-50); border: 1px solid var(--danger-500); color: var(--danger-700);}
#chatbot .chatbotBody .chatbotOptionBox .chatbotOptionList .chatbotOptionBtn .chatbotOptionText{display: block; color: #52616D; font-weight: var(--medium); font-size: var(--font-size-s);}
#chatbot .chatbotBody .chatbotOptionBox .chatbotOptionList .chatbotOptionBtn .chatbotOptionPriceText::before{content: ''; width: 18px; height: 18px; background: url(../images/common/price_icon.svg)no-repeat center;}
#chatbot .chatbotBody .chatbotOptionBox .chatbotOptionList .chatbotOptionBtn .chatbotOptionPriceText{display: flex; align-items: center; gap: 0 var(--spacing-2xs);} 
#chatbot .chatbotBody .chatbotApplyBox{display: flex; gap: 0 var(--spacing-xs);}
#chatbot .chatbotBody .chatbotApplyBox .chatbotApplyBtn{flex: 1; padding: var(--spacing-ms) var(--spacing-3xs); height: 186px; border: 2px solid var(--guide-300); border-radius: var(--radius-m); box-shadow: 0 10px 40px rgba(57, 142, 241, 0.22); transition: all .3s;}
#chatbot .chatbotBody .chatbotApplyBox .chatbotApplyBtn:hover{flex: 1.1; border-color: var(--primary-500);}
#chatbot .chatbotBody .chatbotApplyBox .chatbotApplyBtn:hover .chatbotApplyTitle{color: var(--primary-500)}
#chatbot .chatbotBody .chatbotApplyBox .chatbotApplyBtn .chatbotApplyTitle{display: flex; flex-direction: column; align-items: center; gap: var(--spacing-xs) 0; margin-bottom: var(--spacing-xs); color: var(--gray-900); font-weight: var(--bold); font-size: var(--font-size-xl); text-align: center; transition: all .3s;}
#chatbot .chatbotBody .chatbotApplyBox .chatbotApplyBtn .chatbotApplyTitle::before{content: ''; width: 64px; height: 64px;} 
#chatbot .chatbotBody .chatbotApplyBox .chatbotApplyBtn .chatbotSelectApplyTitle::before{background: url(../images/common/document_icon01.svg)no-repeat center / contain;}
#chatbot .chatbotBody .chatbotApplyBox .chatbotApplyBtn .chatbotPhotoApplyTitle::before{background: url(../images/common/photo_icon.svg)no-repeat center / contain;}
#chatbot .chatbotBody .chatbotApplyBox .chatbotApplyBtn .chatbotApplyText{display: block; color: var(--gray-600); font-size: var(--body-2); text-align: center;}
#chatbot .chatbotBody .chatbotInfoBox{margin: var(--spacing-ml) 0 var(--spacing-s); width: 100%; padding: var(--spacing-xs); border: 1px solid var(--guide-200); border-radius: var(--radius-xs);}
#chatbot .chatbotBody .chatbotInfoBox .chatbotInfoList .chatbotInfoItem{margin-bottom: var(--spacing-xs); display: flex; align-items: center;}
#chatbot .chatbotBody .chatbotInfoBox .chatbotInfoList .chatbotInfoItem:last-child{margin-bottom: 0;}
#chatbot .chatbotBody .chatbotInfoBox .chatbotInfoList .chatbotInfoLabel{display: flex; align-items: center; color: var(--gray-600); font-weight: var(--bold); }
#chatbot .chatbotBody .chatbotInfoBox .chatbotInfoList .chatbotInfoLabel::after{content: ':'; margin: -2px var(--spacing-2xs) 0; line-height: 1; color: var(--gray-600); font-weight: var(--bold);}
#chatbot .chatbotBody .chatbotInfoBox .chatbotInfoList .chatbotInfoValue{color: var(--gray-600);} 
#chatbot .chatbotFooter{padding: 0 var(--spacing-m) var(--spacing-m); box-shadow: 8px 8px 40px rgba(30, 43, 55, 0.1);}
#chatbot .chatbotFooter .chatbotInputBox{position: relative;}
#chatbot .chatbotFooter .chatbotInputBox .chatbotInput{width: 100%; padding: 0 var(--spacing-lm) 0 var(--spacing-s); height: 48px; border: 1px solid var(--guide-300); border-radius: var(--radius-m); font-weight: var(--medium); color: #597184; font-size: var(--font-size-m);}
#chatbot .chatbotFooter .chatbotInputBox .chatbotInput::placeholder{color: #597184;}
#chatbot .chatbotFooter .chatbotInputBox .chatbotSendBtn{width: 24px; height: 24px; position: absolute; top: 50%; right:8px; transform: translateY(-50%); background: url(../images/common/send_icon.svg)no-repeat center;}
#chatbot .chatbotFooter .chatbotFileBox{padding: var(--spacing-xs) 0;}
#chatbot .chatbotFooter .chatbotFileBox .chatbotFileBtn{display: flex; align-items: center; gap: 0 var(--spacing-2xs); cursor: pointer;}
#chatbot .chatbotFooter .chatbotFileBox .chatbotFileBtn::before{content: ''; width: 32px; height: 32px; background: url(../images/common/file.svg)no-repeat center;}
#chatbot .chatbotFooter .chatbotFileBox .chatbotFileBtn span{padding: var(--spacing-2xs); font-weight: var(--medium); font-size: var(--font-size-s); color: #597184; background-color: #EEF0F4; border-radius: var(--radius-xs); line-height: 1.3;}
#chatbot .chatbotBtnBox{margin: var(--spacing-xs) 0; display: flex; flex-wrap: wrap; gap: 0 var(--spacing-xs);}
#chatbot .chatbotBtnBox .chatbotButton{flex: 1 1 auto; padding: var(--spacing-xs); color: var(--guide-800); font-weight: var(--medium); border-radius: var(--radius-m); background-color: var(--guide-50); text-align: center; line-height: 1.3;}
#chatbot .btn{width: 100%;}
#chatbot .btnSecondary{background-color: var(--secondary-500);}
#chatbot .chatbotBody .chatbotMessageWaiting .chatbotMessageCont p{margin: var(--spacing-s) 0 var(--spacing-2xs); padding: 0; background: 0; color: var(--gray-600); font-size: var(--body-2); font-weight: var(--semi-bold);}
#chatbot .chatbotBody .chatbotMessageWaiting .chatbotMessageCont p::before{display: none;}
#chatbot .chatbotBody .chatbotMessageWaiting .chatbotMessageCont .chatbotWaitingTime{padding:  var(--spacing-3xs) var(--spacing-2xs); background-color: var(--guide-50); border-radius: var(--radius-2xs); color: var(--gray-600); font-weight: var(--semi-bold); font-size: var(--body-2);}
#chatbot .chatbotWaitingDots{position: relative; display: inline-flex; justify-content: center; width: 50px; height: 38px; padding: var(--spacing-2xs); background-color: var(--guide-500); align-items: center; gap: var(--spacing-2xs); border-radius: var(--radius-xs);}
#chatbot .chatbotWaitingDots::before{content: ''; position: absolute; top:8px; left:-11px; width: 11px; height: 16px; background: url(../images/common/arrow_icon05.svg)no-repeat center;}
#chatbot .chatbotWaitingDots span {width: 8px; height: 8px; border-radius: 50%; animation: chatbotWaitingDot 1s infinite ease-in-out;}
#chatbot .chatbotWaitingDots span:nth-child(1){background-color: var(--guide-50); animation-delay: .15s;}
#chatbot .chatbotWaitingDots span:nth-child(2){background-color: var(--guide-100); animation-delay: .15s;}
#chatbot .chatbotWaitingDots span:nth-child(3){background-color: var(--guide-200); animation-delay: .3s;}

@keyframes chatbotWaitingDot {
  0%,
  80%,
  100% {
    opacity: .3;
    transform: translateY(0);
  }

  40% {
    opacity: 1;
    transform: translateY(-3px);
  }
}

#chatbot .chatbotContentWrap{position: fixed; bottom: 20px; right: 20px; opacity: 0; visibility: hidden;
  transform: scale(.85); transform-origin: right bottom; pointer-events: none; transition: all .6s;}
#chatbot .chatbotContentWrap .chatbotContentBox{display: flex; flex-direction: column; width: calc(100vw - 84px);
  max-width: 330px; height: 725px; border-radius: var(--radius-l); border: 4px solid var(--gray-200); box-shadow: 0 10px 40px rgba(57, 142, 241, 0.22); background-color: var(--white); overflow: hidden;}
#chatbot .chatbotContentWrap .chatbotContentBox img{max-width: 100%; width: auto;}
#chatbot .chatbotContentWrap .chatbotSideBox{display: flex; flex-direction: column; align-items: center; justify-content: center; position: absolute;width: 52px; height: 170px; border-radius: var(--radius-m) 0 0 var(--radius-m); background-color: var(--white); z-index: 999;}
#chatbot .chatbotContentWrap .chatbotSideLeftBox{top:65px; left:-52px;}
#chatbot .chatbotContentWrap .chatbotSideRightBox{opacity: 0; visibility: hidden; top:50%; right:-52px; transform: translateY(-50%);}
#chatbot .chatbotContentWrap .chatbotSideRightBox{border-radius: 0 var(--radius-m) var(--radius-m) 0;}
#chatbot .chatbotContentWrap .chatbotSideBox .chatbotSideBtn{width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 0 0; flex: 1; color: var(--gray-600); font-weight: var(--medium); font-size: var(--font-size-s); }
#chatbot .chatbotContentWrap .chatbotSideBox .chatbotSideBtn::before{content: ''; width: 36px; height: 36px; border-radius: var(--radius-xs); border: 1px solid transparent; transition: all .3s;}
#chatbot .chatbotContentWrap .chatbotSideBox .chatbotSideBtn.chatbotResizeBtn::before{background: url(../images/common/resize_icon.svg)no-repeat center;}
#chatbot .chatbotContentWrap .chatbotSideBox .chatbotSideBtn.chatbotReturnBtn::before{background: url(../images/common/return_icon.svg)no-repeat center;}
#chatbot .chatbotContentWrap .chatbotSideBox .chatbotSideBtn:hover::before{background-color: var(--guide-50); border-color: var(--guide-100);}
#chatbot.active .chatbotBox{opacity: 0; visibility: hidden;}
#chatbot.active .chatbotContentWrap{opacity: 1; visibility: visible; transform: scale(1); pointer-events: auto;}
#chatbot.large .chatbotContentWrap .chatbotContentBox {max-width: 820px; border-color: var(--gray-600);}
#chatbot.large .chatbotContentWrap .chatbotSideLeftBox{display: none;}
#chatbot.large .chatbotContentWrap .chatbotSideRightBox{opacity: 1; visibility: visible;}
#chatbot.large .chatbotContentWrap{right: 72px;}
#chatbot.close .chatbotContentBox {transition: none;}

.infoText{display: flex; align-items: center; gap: 0 var(--spacing-2xs); margin: var(--spacing-s) 0; padding: var(--spacing-xs) var(--spacing-s) var(--spacing-xs) var(--spacing-xs); color: var(--gray-600); font-weight: var(--semi-bold); font-size: var(--font-size-m); background-color: var(--white); border-radius: var(--radius-s); border: 1px solid var(--gray-100); line-height: 1.5;}
.infoText::before{content: ''; flex-shrink: 0; width: 20px; height: 20px; background: url(../images/common/info_icon.svg)no-repeat center;}
 .infoList{margin: var(--spacing-xs) 0 var(--spacing-s);}
 .infoList li{position: relative; padding-left: var(--spacing-m); margin-bottom: var(--spacing-xs); color: var(--gray-600); font-weight: var(--regular); font-size: var(--font-size-m );}
.infoList li::before{content: ''; width: 4px; height: 4px; position: absolute; top:11px; left:10px; border-radius: 50%; background-color: var(--gray-600);}
.infoList li:last-child{margin-bottom: 0;}

@media (max-width: 1280px){

  #chatbot{bottom: 100px;}

}

@media (max-width: 576px){

  #chatbot{bottom: 84px;}
  #chatbot .chatbotContentWrap .chatbotSideBox{display: none;}
  #chatbot .chatbotContentWrap .chatbotContentBox{width: 100%; max-width: none;}
  #chatbot .chatbotContentWrap{left: 10px; right: 10px;}
  #chatbot .chatbotBody .chatbotMessageCont p{font-size: var(--font-size-s);}
  #chatbot .chatbotBody .chatbotMessageBot .chatbotMessageCont p{padding: var(--spacing-xs) var(--spacing-ms);}
  #chatbot .chatbotBody .chatbotOptionBox .chatbotOptionTitle,
  #chatbot .chatbotBody .chatbotOptionBox .chatbotOptionList .chatbotOptionBtn{font-size: var(--font-size-m);}
  #chatbot .chatbotBody .chatbotApplyBox .chatbotApplyBtn .chatbotApplyTitle{font-size: var(--font-size-l);}
  #chatbot .chatbotBody .chatbotApplyBox{flex-direction: column; gap: var(--spacing-s) 0;}
  #chatbot .chatbotBody .chatbotApplyBox .chatbotApplyBtn .chatbotApplyTitle::before{width: 50px; height: 50px;}
  #chatbot .chatbotBody .chatbotInfoBox{margin: var(--spacing-ms) 0 var(--spacing-s);}
  
}

